*{
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: #000;
    overflow: hidden;
}

div{
    /* border: 2px solid white; */
    width: 500px;
    height: 500px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
}

.pixel{
    width: 10px;
    height: 10px;
    /* border: 1px solid black; */
    /* background-color: red; */
    border-radius: 50%;
    margin: 1px;
}